<section class="events">
<div class="events__title">Our Events</div>
<div class="october">
<div class="day october__day">
  <div class="day_red">
    <div class="date">18</div>
  </div>
  <div class="day__month">October</div>
  <div class="day__title">Lorem Ipsum is simply</div>
  <div class="day__text">Lorem Ipsum is simple dummy text of the<br>printing and typesettyng industry. Lorem<br>Ipsum has been the industry's standard<br>unchanged</div>
  <div class="day__link"><a class="link link_red" href="index.html">MORE</a></div>
 </div>
 <div class="day october__day">
   <div class="day_gray">
     <div class="date">22</div>
   </div>
   <div class="day__month">October</div>
   <div class="day__title">Lorem Ipsum is simply</div>
   <div class="day__text">Lorem Ipsum is simple dummy text of the<br>printing and typesettyng industry. Lorem<br>Ipsum has been the industry's standard<br>unchanged</div>
   <div class="gray-more"><a class="more-text" href="index.html">MORE</a></div>
  </div>
  <div class="day october__day">
    <div class="day_gray">
      <div class="date">28</div>
    </div>
    <div class="day__month">October</div>
    <div class="day__title">Lorem Ipsum is simply</div>
    <div class="day__text">Lorem Ipsum is simple dummy text of the<br>printing and typesettyng industry. Lorem<br>Ipsum has been the industry's standard<br>unchanged</div>
    <div class="gray-more"><a class="more-text" href="index.html">MORE</a></div>
   </div>
</div>
</section>
