<header class="header">
  <div class="header__logo"></div>
  <nav class="menu menu_header">
    <input id="check-button" type="checkbox" class="menu__hamburger">
    <label for="check-button"></label>
    <ul class="menu__list">
      <li class="menu__item"><a class="menu__link menu__link_active" href="index.html">HOME</a>
      </li class="menu__item">
      <li class="menu__item"><a class="menu__link" href="index.html">ABOUT US</a>
      </li>
      <li class="menu__item"><a class="menu__link" href="index.html">PROJECTS</a>
      </li>
      <li class="menu__item"><a class="menu__link" href="index.html">BLOG</a>
      </li>
      <li class="menu__item"><a class="menu__link" href="index.html">EVENTS</a>
      </li>
      <li class="menu__item"><a class="menu__link" href="index.html">GALLERY</a>
      </li>
      <li class="menu__item"><a class="menu__link" href="index.html">CONTACT US</a>
      </li>
    </ul>
  </nav>
</header>
