@import "optimization.scss";

.header {
  background-color: $white;
  margin: 0;
  padding: 0;
  @include size(100%, 116px);
  @include flexes(row, flex-start);

  &__logo {
    @include background($logo, contain, transparent);
    margin-left: 13.42%;
    margin-top: 2.3%;
    padding-bottom: 2.3%;
    @include size(223px, 50px);
  }

  &__nav {
    @include size(50%, 30%);
    margin-left: 7.5%;
    margin-top: 2.94%;
    @include flexes(row, space-between);
    &__checkbox {
      visibility: hidden;
    }
    & li {
      display: inline-block;
      padding-bottom: 2.3%;
      & a {
        @include font(14px, "Roboto Slab", normal, uppercase);
        text-decoration: none;
        display: block;
        color: #373838;
        padding: 7.5px 16.0px;
      }
    }
  }
}
